<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Poppins:ital@1&family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/formulario.css">

  <title>Formulário Clientes</title>
</head>
<body>
  <section id="page-lading-content">
    <nav>
      <header class="page-header">
        <nav class="top-bar-container">
          <a href="/">
            <h2>Projeto Turismo</h2>
          </a>
        </nav>
        <nav class="alertContainer">
          <nav class="alert alert-success" role="alert" id="alertSuccess">
            <strong>Sucesso!</strong> &nbsp; Cliente cadastrado com sucesso!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="ocultarAlerta('alertSuccess')">
              <span aria-hidden="true">&times;</span>
            </button>
          </nav>
        </nav>
        <nav class="alertContainer">
          <nav class="alert alert-danger" role="alert" id="alertErro">
            <strong>Erro!</strong> &nbsp; Cliente não pode ser cadastrado.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="ocultarAlerta('alertErro')">
              <span aria-hidden="true">&times;</span>
            </button>
          </nav>
        </nav>
      </header>
    </nav>
  </section>
  <section class="formContainer">
    <nav class="formItens">
      <form id="form" method="post">
        <h2 class="tittleForm">Cadastro de Clientes</h2>
        <label for="nome" class="labelName"> Nome
          <input type="text" class="inputStyle" id="nome" placeholder="Ex. João Silva" required>
        </label>
        <label for="data_nascimento" class="labelName"> Data de Nascimento
          <input type="date" class="inputStyle" id="data_nascimento" required>
        </label>
        <label for="cpf" class="labelName"> CPF
          <input type="text" class="inputStyle" id="cpf" onblur="formatarCPF(this)" required>
        </label>
        <label for="contato" class="labelName"> Contato
          <input type="text" class="inputStyle" id="contato" required>
        </label>
        <label for="sexo" class="labelName"> Sexo
          <input type="text" class="inputStyle" id="sexo" required>
        </label>
        <nav class="buttonsContainer">
          <input type="reset" class="inputButton " value="Cancelar" />
          <input type="submit" class="inputButton" value="Enviar" />
        </nav>
      </form>
    </nav>
  </section>
  <script>

    this.ocultarAlerta('alertSuccess')
    this.ocultarAlerta('alertErro')

    const urlParams = new URLSearchParams(window.location.search)
    const id = urlParams.get('id')

    if(id) {
      this.editarCliente(id)
      this.salvarMudancas()
    } else {
      this.adicionarCliente()
    }

    function editarCliente(id) {

      var request = new XMLHttpRequest()

      request.open('GET', `http://localhost:3000/clientes/${id}`, true)
      
      request.onload = function () {
        
        var data = JSON.parse(this.response)
        
        if (request.status >= 200 && request.status < 400) {
          data.forEach(cliente => {

            document.getElementById('nome').value = cliente.nome;
            document.getElementById('data_nascimento').value = cliente.data_nascimento;
            document.getElementById('cpf').value = cliente.cpf;
            document.getElementById('contato').value = cliente.contato;
            document.getElementById('sexo').value = cliente.sexo;
          })
        }
      }
      request.send()
    }

    function adicionarCliente() {
      var form = document.getElementById('form')
  
      form.addEventListener('submit', function(e){
      e.preventDefault()

      var cpfFormatado = document.getElementById('cpf').value
      var nome = document.getElementById('nome').value
      var data_nascimento = document.getElementById('data_nascimento').value
      var cpf = cpfFormatado.replace(/[^0-9]+/g,'');
      var contato = document.getElementById('contato').value
      var sexo = document.getElementById('sexo').value
  
      fetch('http://localhost:3000/clientes', {
        method: 'POST',
        body: JSON.stringify({
          nome:nome,
          data_nascimento:data_nascimento,
          cpf: cpf,
          contato: contato,
          sexo: sexo,
          status: 1
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
        })
        .then(function(response) {
          return response.json()
        })
        .then(function(data){
          this.exibirAlert('alertSuccess')
          console.log(data)
        }).catch(error => {
          this.exibirAlert('alertErro')
          console.error('Error:', error)
        }); 
      });

    }

    function salvarMudancas() {
      var form = document.getElementById('form')
  
      form.addEventListener('submit', function(e){
      e.preventDefault()
      
      var cpfFormatado = document.getElementById('cpf').value
      var nome = document.getElementById('nome').value
      var data_nascimento = document.getElementById('data_nascimento').value
      var cpf = cpfFormatado.replace(/[^0-9]+/g,'');
      var contato = document.getElementById('contato').value
      var sexo = document.getElementById('sexo').value
        
      fetch(`http://localhost:3000/clientes/${id}`, {
        method: 'PATCH',
        body: JSON.stringify({
          nome:nome,
          data_nascimento:data_nascimento,
          cpf: cpf,
          contato: contato,
          sexo: sexo,
          status: 1
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
        })
        .then(function(response) { 
          this.exibirAlert('alertSuccess')
          return response.json()
        })
        .then(function(data){
          console.log(data)
        }).catch(error => console.error('Error:', error)); 
      });
    }

    function formatarCPF(cpf) {
      const elementoAlvo = cpf
      const cpfAtual = cpf.value

      let cpfAtualizado;

      cpfAtualizado = cpfAtual.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, 
      function( regex, argumento1, argumento2, argumento3, argumento4 ) {
              return argumento1 + '.' + argumento2 + '.' + argumento3 + '-' + argumento4;
      })  
      elementoAlvo.value = cpfAtualizado; 
    }   

    function exibirAlert(value) {
      document.getElementById(value).style.display = "block";
    }

    function ocultarAlerta(value) {
    
      document.getElementById(value).style.display = "none"
    }

</script>
</body>
</html>