<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Poppins:ital@1&family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/home.css">
  <title>Projeto Turismo</title>

</head>
<body>
  <section id="page-landing">
    <nav id="page-lading-content">
      <nav class="elements-container">
        <nav class="logo-container">
          <h2>Projeto Turismo</h2>
          <h3>Gerenciador de viagens</h3>
        </nav>
        <img class="cover-image" src="img/logo.png" alt="logo">
      </nav>
      <nav class="buttons-container">
        <nav class="position-buttons">
          <a href="/cliente">
            Clientes
          </a>
          <a href="/destino">
            Destinos
          </a>
        </nav>
        <nav class="position-buttons">
          <a href="/viagens.ejs">
            Viagens
          </a>
          <a href="/pagamentos.ejs">
            Pagamentos
          </a>
        </nav>
      </nav>
    </nav>
  </section>
</body>
</html>