<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Poppins:ital@1&family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/listagem.css">

  <title>Viagens</title>
</head>
<body>
  <section id="page-lading-content">
    <div>
      <header class="page-header">
        <nav class="top-bar-container">
          <a href="/">
            <h2 id="logo">Projeto Turismo</h2>
          </a>
        </nav>
      </header>
      <section>
        <nav class="subititle">
          <img src="img/plus.svg" class="plusIcon">
          <a href="formularioViagem">
            <h1>Adicionar Viagem</h1>
          </a>
        </nav>
      </section>
    </div>
  </section>
  <section>
    <div id="root"></div>
  </section>
  <script>

    this.getViagens()

    function getViagens() {

      var request = new XMLHttpRequest()

      request.open('GET', 'http://localhost:3000/viagens', true)

      const app = document.getElementById('root')
      const container = document.createElement('div')
      container.setAttribute('class', 'container')
      app.appendChild(container)

      request.onload = function () {
        // Begin accessing JSON data here
        var data = JSON.parse(this.response)

        if (request.status >= 200 && request.status < 400) {
          data.forEach(viagem => {
              const sectionCards = document.createElement('section')
              sectionCards.setAttribute('class', sectionCards)

              const card = document.createElement('section')
              card.setAttribute('class', 'card')

              const footer = document.createElement('footer')
              footer.setAttribute('class', 'footerCard')

              const containerButton = document.createElement('section')
              containerButton.setAttribute('class', 'containerButton')

              const h1 = document.createElement('h1')
              h1.setAttribute('class', 'nameTittle')
              h1.textContent = `Viagem ${viagem.id_viagem}`

              const pNomeCliente = document.createElement('p')
              pNomeCliente.textContent = `Nome do Cliente: ${viagem.nome_viagem}` 

              const pDestino = document.createElement('p')
              pDestino.textContent = `Destino: ${viagem.destino}` 
              

              const pDataViagem = document.createElement('p')
              pDataViagem.textContent = `Data da Viagem: ${viagem.data_viagem}` 

              const pDataRetorno = document.createElement('p')
              pDataRetorno.textContent = `Data de Retorno: ${viagem.data_retorno}` 


              const pStatus = document.createElement('p')
              pStatus.textContent = `Status: ${viagem.status}` 

              const pButtonEdit = document.createElement('a')
              pButtonEdit.setAttribute('class', 'buttonEdit')
              pButtonEdit.setAttribute('href', `formularioViagem?id=${viagem.id_viagem}`)
              pButtonEdit.textContent = 'Editar'
              
              const pButtonRemove = document.createElement('a')
              pButtonRemove.setAttribute('class', 'buttonRemove')
              pButtonRemove.setAttribute('onclick', `removeViagem(${viagem.id_viagem})`)
              pButtonRemove.textContent = 'Remover'

              container.appendChild(card)

              container.appendChild(footer)

              footer.appendChild(pButtonEdit)
              footer.appendChild(pButtonRemove)

              card.appendChild(h1)
              card.appendChild(pNomeCliente)
              card.appendChild(pDestino)
              card.appendChild(pDataViagem)
              card.appendChild(pDataRetorno)
              card.appendChild(pStatus)
              card.appendChild(footer)
              
              container.appendChild(sectionCards)
              sectionCards.appendChild(card) 

              cont++;
          })
        } else {
            console.log('error')
        }
      }
      request.send()
    }

    function removeViagem (id) {
      
      if (confirm("Atenção! Ao clicar em Sim a viagem será excluída.") == true) {
        
        var request = new XMLHttpRequest()

        request.open('DELETE', `http://localhost:3000/viagens/${id}`, true)

        request.onload = () => {
          if(request.status === 200) {
            console.log('Viagem Removida com sucesso')
          } else {
            console.log('error')
          }
        }
        request.send()
        window.location.replace('viagem')
      }
    }
  </script>
  <footer>
    &nbsp;
  </footer>
</body>
</html>