* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #DDDDDD;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.page-header {
  display: flex;
  flex-direction: column;
  background: #00856F;
}

.page-header .top-bar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1.6rem 0;
  height: 8rem;
}

.subititle {
  font-family: 'Archivo', sans-serif;
  font-size: 1.3rem;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 3rem;
}

.formItens {
  display: flex;
  width: 48rem;
  height: 38rem;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 8px;
}

.inputStyle {
  display: block;
  width: 40rem;
  height: 2rem;
  border-radius: 2px;
  border: 1px solid #DDDDDD;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.labelName {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #00453A;
  font-weight: 500;
}

.top-bar-container h2 {
  font-family: 'Archivo', sans-serif;
}

.formContainer {
  height: auto;
  width: auto;
  margin-top: -4.5rem;
}

.tittleForm {
  font-family: 'Archivo', sans-serif;
  color: #00856F;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.inputButton { 
  width: 5.5rem;
  height: 1.8rem;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  margin-left: 2rem;
}

a {
  text-decoration: none;
  color: #fff
}

.alert-success {
  color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: flex;
  width: 30rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.alertContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: -5rem;
  margin-bottom: 5rem;
  margin-right: 1rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.positionPayment {
  margin-top: -2rem;
  margin-bottom: 5rem;
}

select {
  display: block;
  width: 40rem;
  height: 2rem;
  border-radius: 2px;
  border: 1px solid #DDDDDD;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}