* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-landing {
  background-color: #00875f;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

.elements-container {
  display: grid;
  grid-template-columns: 550px 1fr;
}

.cover-image {
  height: 32rem;
  margin-left: 3rem;
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
  margin-left: -5rem;
  margin-top: 3rem;

}

.logo-container h2 {
  font-weight: 500;
  font-family: 'Archivo', sans-serif;
  font-size: 4.5rem;
  color: #fff;
}

.logo-container h3 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.2rem;
  margin-top: 0.8rem;
  color: #9BE5BC;
  font-family: 'Poppins', sans-serif;
}

.buttons-container {
  display: flex;
  justify-content: left;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 15rem;
  height: 4rem;
  border-radius: 0.8rem;
  font: 700 2.0rem Archivo;
  margin-bottom: 1.2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #fff;

  transition: background-color 0.2s;
}

.buttons-container a:first-child {
  margin-right: 1.6rem;
}

.buttons-container a {
  background: #00453A;
}


.buttons-container a:hover {
  background: #9BE5BC;
}

.position-buttons { 
  margin-top: -17rem;
  transition: color 0.1s, background-color 0.1s;
}

