<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Poppins:ital@1&family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/formulario.css">

  <title>Formulário de Viagem</title>
</head>
<body>
  <section id="page-lading-content">
    <nav>
      <header class="page-header">
        <nav class="top-bar-container">
          <a href="/">
            <h2>Projeto Turismo</h2>
          </a>
        </nav>
        <nav class="alertContainer">
          <nav class="alert alert-success" role="alert" id="alertSuccess">
            <strong>Sucesso!</strong> &nbsp; Viagem cadastrada com sucesso!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="ocultarAlerta('alertSuccess')">
              <span aria-hidden="true">&times;</span>
            </button>
          </nav>
        </nav>
        <nav class="alertContainer">
          <nav class="alert alert-danger" role="alert" id="alertErro">
            <strong>Erro!</strong> &nbsp; A viagem não pode ser cadastrada.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="ocultarAlerta('alertErro')">
              <span aria-hidden="true">&times;</span>
            </button>
          </nav>
        </nav>
      </header>
    </nav>
  </section>
  <section class="formContainer">
    <nav class="formItens">
      <form id="form" method="post">
        <h2 class="tittleForm">Cadastro de Viagem</h2>
        <label for="id_viajante" class="labelName"> Nome do cliente
          <select name="id_viajante" id="id_viajante" class="selectStyle" required>
            <option value="">Selecione</option>
          </select>
        </label>
        <label for="id_destino" class="labelName"> Nome do Destino
          <select name="id_destino" id="id_destino" class="selectStyle" required>
            <option value="">Selecione</option>
          </select>
        </label>
        <label for="data_viagem" class="labelName"> Data da Viagem
          <input type="date" class="inputStyle" id="data_viagem" required>
        </label>
        <label for="data_retorno" class="labelName"> Data do Retorno
          <input type="date" class="inputStyle" id="data_retorno" required>
        </label>
        <nav class="buttonsContainer">
          <input type="reset" class="inputButton " value="Cancelar" />
          <input type="submit" class="inputButton" value="Enviar" />
        </nav>
      </form>
    </nav>
  </section>
  <script>

    this.ocultarAlerta('alertSuccess')
    this.ocultarAlerta('alertErro')
    this.getClientes()
    this.getDestinos()

    const urlParams = new URLSearchParams(window.location.search)
    const id = urlParams.get('id')

    if(id) {
      this.editarViagem(id)
      this.salvarMudancas()
    } else {
      this.adicionarViagem()
    }

    function editarViagem(id) {

      var request = new XMLHttpRequest()

      request.open('GET', `http://localhost:3000/viagens/${id}`, true)
      
      request.onload = function () {
        
        var data = JSON.parse(this.response)
        
        if (request.status >= 200 && request.status < 400) {
          data.forEach(viagem => {
            document.getElementById('id_viajante').value = viagem.id_cliente;
            document.getElementById('id_destino').value = viagem.id_destino;
            document.getElementById('data_viagem').value = viagem.data_viagem;
            document.getElementById('data_retorno').value = viagem.data_retorno;
          })
        }
      }
      request.send()
    }

    function adicionarViagem() {
      var form = document.getElementById('form')
  
      form.addEventListener('submit', function(e){
      e.preventDefault()

      var id_viajante = document.getElementById('id_viajante').value
      var id_destino = document.getElementById('id_destino').value
      var data_viagem = document.getElementById('data_viagem').value
      var data_retorno = document.getElementById('data_retorno').value
  
      fetch('http://localhost:3000/viagens', {
        method: 'POST',
        body: JSON.stringify({
          id_viajante:id_viajante,
          id_destino:id_destino,
          data_viagem:data_viagem,
          data_retorno: data_retorno,
          status: 1
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
        })
        .then(function(response) {
          return response.json()
        })
        .then(function(data){
          this.exibirAlert('alertSuccess')
        }).catch(error => {
          this.exibirAlert('alertErro')
          console.error('Error:', error)
        }); 
      });

    }

    function salvarMudancas() {
      var form = document.getElementById('form')
  
      form.addEventListener('submit', function(e){
      e.preventDefault()
      
      var id_viajante = document.getElementById('id_viajante').value
      var id_destino = document.getElementById('id_destino').value
      var data_viagem = document.getElementById('data_viagem').value
      var data_retorno = document.getElementById('data_retorno').value
        
      fetch(`http://localhost:3000/viagens/${id}`, {
        method: 'PATCH',
        body: JSON.stringify({
          id_viajante: id_viajante,
          id_destino: id_destino,
          data_viagem:data_viagem,
          data_retorno: data_retorno,
          status: 1
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
        })
        .then(function(response) { 
          return response.json()
        })
        .then(function(data){
          this.exibirAlert('alertSuccess')
          console.log(data)
        }).catch(error => {
          this.exibirAlert('alertErro')
          console.error('Error:', error)
        });
      });
    }
    
    function exibirAlert(value) {
      document.getElementById(value).style.display = "block";
    }

    function ocultarAlerta(value) {
      document.getElementById(value).style.display = "none"
    }
    
    function getClientes() {

      var request = new XMLHttpRequest()

      request.open('GET', 'http://localhost:3000/clientes', true)

      const app = document.getElementById('id_viajante')

      request.onload = function () {
        var data = JSON.parse(this.response)

        if (request.status >= 200 && request.status < 400) {
          data.forEach(cliente => {
            
            const option = document.createElement('option')
            option.setAttribute('value', `${cliente.id_cliente}`)
            option.textContent = cliente.nome

            app.appendChild(option)

          })
        } else {
            console.log('error')
        }
      }
      request.send()
    }
    
    function getDestinos() {

      var request = new XMLHttpRequest()

      request.open('GET', 'http://localhost:3000/destinos', true)

      const app = document.getElementById('id_destino')

      request.onload = function () {
        var data = JSON.parse(this.response)

        if (request.status >= 200 && request.status < 400) {
          data.forEach(destino => {
            
            const option = document.createElement('option')
            option.setAttribute('value', `${destino.id_destino}`)
            option.textContent = destino.nome

            app.appendChild(option)

          })
        } else {
            console.log('error')
        }
      }
      request.send()
    }
</script>
</body>
</html>